.fade {
  width: 103vw;
  height: 100vh;
  position: absolute;
  background-color: black;
  opacity: 0.3;
}

.modal {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 70%;
  height: 50%;
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal h2 {
  margin-bottom: 1em;
}

.modal form {
  width: 90%;
}

@media only screen and (max-width: 500px) {
  .modal {
    width: 90%;
    height: 50%;
  }

  .modal form {
    width: 90%;
  }
}
