.footer {
  background-color: midnightblue;
  color: darkcyan;
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5em;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}
