body {
  margin-bottom: 2.5em;
}

main {
  margin: 30px;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  main {
    margin: 10px;
  }
}

.App label {
  color: rgb(0, 0, 50);
  font-size: 45px;
  font-weight: 500;
}
